
.posts {
  margin: 0;
}

.posts .post {
  margin-bottom: 0.75em;
  border-bottom: thin solid #f3f3f3;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .375em;
  padding-bottom: 0;
}

.post-link .post-title {
  margin-top: 0;
  font-weight: 600;
  color: #333;
}

.post img {
  display: block;
  margin: auto;
  & + span {
    display: block;
    text-align: center;
    font-size: 0.75rem;
    margin-top: 0.6666rem;
  }
}

.post-footer {
  @extend .italic;
  background-color: #eee;
  text-align: center;
  padding: 40px 0;
}

.meta,
.post-meta {
  width: auto;
  font-weight: 300;
  margin: 0;
  padding: .25em 0;
  color: #7a7a7a;
  font-style: italic;
}

.post-header {
  .post-data {
    height: 70px;
    box-sizing: border-box;
  }
  .post-data .post-info {
    height: 100%;
    float:left;
  }

}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}
